.App {
    font-family: sans-serif;
    text-align: center;
    max-width: 332px;
    margin: 0 auto;
  }

  h2 {
      weight: bold;
      text-decoration: underline;
  }

  p {
    background-color: #9e91c0;
    width: 100%;
    height: 2rem;
    text-align: center;
    margin: 4px 0;
    padding-left: 8px;
  }
  .list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
  }
  .list.completed {
    text-decoration: line-through;
  }